
<div class="row">
    <div class="col-md-6">
        <input class="form-control" placeholder="Min" id="min" />
    </div>
    <div class="col-md-6">
        <input class="form-control" placeholder="Max" id="max" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <button class="btn btn-success btn-block btn-lg" id="my-button">Click me!!!!!</button>
    </div>

    <div class="col-md-6 offset-md-3">
        <ul id="numbers" class="list-group">
        </ul>
    </div>
</div>


@section Scripts {
    <script src="/js/index.js"></script>
}
